p, h3 {
    line-height: 1.8;
    letter-spacing: 1px;
}

body {
    font-family: 'Inter', sans-serif; /* Vores tekst Type*/
    margin: 0;
    background-color: #f5f5f5;
    color: lightcyan;
}

header {
    text-align: center;
    padding: 6rem;
    background-color: lightskyblue;
    color: white;
    font-size: 50px;
}


main {
    max-width: 900px;
    margin: 20rem auto;
    padding: 0 1rem;

}

.main-body{
    background: linear-gradient(to bottom, lightskyblue, cornflowerblue); /* Laver en glidende overgang af farven*/

}
#chart{
    display: block;
    margin: 0 auto;
 }

#chart2{
    display: block;
    margin: 0 auto;
}

#chart3{
    display: block;
    margin: 0 auto;
}

section{
    margin-top: 23rem;
    margin-bottom: 25rem;

}

.logo-picture{
    width: 50rem;
}

.main-header{
    margin-top: -50px;
}
