body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: lightcyan;
}

header {
    text-align: center;
    padding: 6rem;
    background-color: lightskyblue;
    color: white;
    font-size: 50px;
}


main {
    max-width: 900px;
    margin: 20rem auto;
    padding: 0 1rem;

}

.main-body{
    background: linear-gradient(to bottom, lightskyblue, cornflowerblue);

}
#chart{
    display: block;
    margin: 0 auto;
 }

#chart2{
    display: block;
    margin: 0 auto;
}

#chart3{
    display: block;
    margin: 0 auto;
}

section{
    margin-top: 23rem;
    margin-bottom: 25rem;

}

.pic{
    width: 50rem;
}
