body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: lightskyblue;
    color: white;
}

main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;

}

footer {
    text-align: center;
    padding: 1rem;
    background: #4f46e5;
    color: white;
    font-size: 0.9rem;
}

.main-body{
    background: linear-gradient(to bottom, lightskyblue, cornflowerblue);


}
#chart{
    display: block;
    margin: 0 auto;
 }
#chart2{
    display: block;
    margin: 0 auto;
}
#chart3{
    display: block;
    margin: 0 auto;
}

.intro{
    margin-bottom: 10rem;
}
.graf1{
    margin-top: 10rem;
    margin-bottom: 20rem;
}
.graf2{
    margin-top: 10rem;
    margin-bottom: 20rem;
}
.graf3{
    margin-top: 10rem;
    margin-bottom: 20rem;
}
.konklusion{
    margin-top: 10rem;
    margin-bottom: 20rem;
}
